.PopUp{
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.popUp{
  background-color: var(--white);
  font-size: 20px;
  border-radius: 35px;
  width: 45%;  
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.popUpTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
}

.popUpIcon{
  border: none;
  color: var(--red);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}