.mainHeader{
    height: 25%;
    width: 100%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    z-index: 2; 
}

.mainContent{
    height: 100%;
    width: 100%;
    border-top: 5px solid var(--light-grey);
    background-color: var(--white);
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.textContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    width: 85%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: justify;
}