.About{
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.aboutContent{
    gap: 0 !important;
    justify-content: flex-start;
}

.mainHeader{
    height: 85px;
    width: 100%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    z-index: 2; 
}

.mainContent{
    background-color: var(--white);
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-y: scroll;
    height: 75vh;
}

.textContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    width: 85%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: justify;
}