.directionButtons, .heightButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  position: absolute;
  z-index: 99;
  padding: 2%;
}

.directionButtons{
  bottom:0;
  right: 0;
}

.heightButtons{
  bottom: 15px;
  left: 30px;
  gap: 10px;
}

.svg-inline--fa {
  width: 1em;
}

.upBtns, .middleBtns, .downBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.middleBtns{
  display: flex;
  flex-direction: row;
  gap: 40px
}