.VirtualReality {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center
}

.mapPointAVR4{
  top: 40%;
  left: 68%;
}

.mapPointBVR4{
  top: 20%;
  left: 52%;
}

.mapPointCVR4{
  top: 20%;
  left: 38%;
}