.Sondagem{
    width: 100vw;
    height: 100vh;
}

.sondagemPageContent{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
}

.sondagemHeader{
    height: 25vh;
    width: 100vw;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    z-index: 2; 
    border-bottom: 5px solid var(--main-color);
}

.sondagemImage{
    width: 100%;
    position: absolute;
}

.sondagemTitle{
    padding: 1.5vh;
    font-size: 22px;
    border-radius: 35px;
    width: 300px;
    height: 15px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
    z-index: 3;
}

.divider{
    background-color: var(--main-color);
    height: 2%;
}

.sondagemContent{    
    color: var(--darker-grey);
    font-family: "Lexend Deca";
    overflow-y: scroll;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
}

.sondagemPageContent, .sondagemContent{
    gap: 25px;
}

.sondagemExperiences{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sondagemInfo{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 90vh;
}

.accordions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
    width: 100%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: justify;
}

.infoTitle{
    font-style: bold;
    font-size: 20px;
    padding: 10px;
}

.description{
    display: flex;
    text-align: justify;
    word-wrap: break-word;
    flex-direction: column;
    gap: 5px;
}

.infoTitles{
    font-size: 22px;
    font-style: bold;
}

.infoSubTitles{
    font-size: 20px;
    font-style: bold;
}

.infoImage{
    max-width: 100%;
    max-height: 250px;
    justify-content: center;
}
