.tabs{
    display: flex;
    height: 9vh;
    align-items: center;
    width: 100%;
    top: 20vh;
    position: absolute;       
    z-index: 1; 
}

.tabType{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-grey);
}

.tabSelected{
    background-color: var(--main-blue);
    color: var(--white) !important;
    border-bottom: 1px solid var(--main-blue);
}

.tabSelected svg{
    color: var(--white) !important;
}

.tabContent, .noTabsContent{
    color: var(--darker-grey);
    font-family: "Lexend Deca";
    overflow-y: scroll;
    position: absolute;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--white);
    padding-bottom: 20px;
}

.tabContent{
    top: 29vh;
}

.noTabsContent{
    top: 20vh;
}

.InfoTab, .RATab, .VRTab{
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tabBtn{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.tabIcon{
    border: none;
    color: var(--darker-grey);
    font-size: 40px;
    border-radius: 35px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabTitle{
    width: 100%;
    height: 20%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca";
    text-align: center;
}