.Sondagem4VRMap{
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.Sondagem4VRMapContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Sondagem4VRMapElements{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
}

.vrMapContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

.mapPointAVR4{
    top: 40%;
    left: 68%;
}

.mapPointBVR4{
top: 20%;
left: 52%;
}

.mapPointCVR4{
top: 20%;
left: 38%;
}

.mapPointDVR4{
top: 22%;
left: 24%;
}

.mapPointEVR4{
top: 58%;
left: 24%;
}

.augmentedRealityScene{
    width: 100%;
    height: 100%;
}

.mapImage{
    border-radius: 2%;
    border: 5px solid var(--main-color);
}

.vrMapInstructions{
    max-width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
}

.vrMapInstructionsText{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vrMapInstructionsTitle{
    font-style: bold;
    font-size: 23px;
}

.vrMapLabels{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.vrMapLabelsImage{
    max-height: 200px;
    width: 320px;
}