.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0px auto;
  background-color: var(--white);
  color: var(--darker-grey);
  font-size: 30px;
  gap: 30px;
}
