.textButton {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

#textBtn {
  border: none;
  color: #121212;
  padding: 15px;
  font-size: 22px;
  border-radius: 35px;
  width: 80%;
  background-color: #E2E2E2;
  font-family: "Lexend Deca";
}