.AugmentedReality, .Sondagem4ARMap {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.scene{
    position: absolute !important;
}


.alignElements{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.alignImage{
    display: block;
    align-self: center;
    opacity: 0.7;
    max-width: 100%;
    max-height: 100%;
}

.alignedBtn{
    position: absolute;
    bottom: 50px;
    background-color: var(--darker-grey);
    border: none;
    color: var(--white);
    padding: 15px;
    font-size: 20px;
    border-radius: 10%;
    z-index: 99;
    font-family: "Lucida Sans";
}


.Sondagem4ARMap{
    display: flex;
    position: relative;
}

.mapImage{
    max-width: 100%;
    max-height: 300px;
    border: 2px solid var(--medium-grey);
}

.mapPoints{
    max-width: 50px;
    height: 50px;
}

.mapPoint1, .mapPoint2, .mapPoint3{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-radius: 50%;
    position: absolute;
}

.mapPoint1{
    top: 68%;
    left: 85%;
}

.mapPoint2{
    top: 20%;
    left: 5%;
}

.mapPoint3{
    top: 35%;
    left: 40%;
}