.AugmentedReality {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.scene{
    position: absolute !important;
}

.alignElements{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.alignImage{
    display: block;
    align-self: center;
    opacity: 0.6;
    width: 100%;
}

.alignedBtn{
    position: absolute;
    bottom: 12%;
    background-color: var(--main-color);
    border: none;
    color: var(--white);
    padding: 15px;
    font-size: 20px;
    border-radius: 5%;
    z-index: 99;
    font-family:"Lexend Deca";
}