:root {
  --main-blue: #6FAFC9;
  --white: #ffffff;
  --very-light-grey: #eeeeee;
  --light-grey: #E2E2E2;
  --medium-grey: #bbbbbb;
  --darker-grey: #121212;
  --dark-grey: #3A3A3B;
  --light-brown: #CBB48A;
  --light-blue: #E1E8ED;
}

body {
  margin: 0 !important;
  font-family:"Lexend Deca";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  color: var(--darker-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.nav-link{
  text-decoration: none;
  width: 100%;
}

.topBtns-nav-link{
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;
  width: 100vw;
  margin: 0px auto;
}

.roundBtn {
  display: flex;
  background-color: var(--main-blue);
  border: none;
  color: var(--white);
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  height: 100%;
}
