.Sonsagem4ARMap{
    width: 100%;
    height: 100%;
}

.Sondagem4ARMapContent{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Sonsagem4ARMapElements{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 90%;
    gap: 10px;
}

.arMapContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

.mapPointAAR4{
    top: 63%;
    left: 80%;
}

.mapPointCAR4{
    top: 17%;
    left: 8%;
}

.mapPointBAR4{
    top: 33%;
    left: 36%;
}

.augmentedRealityScene{
    width: 100%;
    height: 100%;
}

.mapImage{
    border-radius: 2%;
    border: 5px solid var(--main-color);
    max-width: 100%;
}

.arMapInstructions{
    max-width: 100%;
    font-size: 20px;
}