.SondagemMap, .mainMapMap{
    position: relative;
    display: flex;
}

.Map {
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.mapContent{
    gap: 0 !important;
}

.mainMapMap{
    height: 100%;
    width: 100%;
}

.mainMapHeader{
    height: 25%;
    width: 100%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    z-index: 2; 
}

.mainMapFooter{
    height: 18%;
    width: 100%;
    background-color: var(--light-grey);
    z-index: 2; 
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.mainMapImage{
    height: 100%;
    width: 100%;
}

.mapLabels{
    height: 95%;
    width: 90%;
}

.mapImage{
    max-width: 100%;
    max-height: 300px;
    border: 2px solid var(--medium-grey);
}

.mapPoints{
    max-width: 60px;
    height: 60px;
    z-index: 3;
}

.mapPoint{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-radius: 50%;
    position: absolute;
}

.mainMapPoint4{
    top: 9%;
    left: 7%;
}

.mainMapPoint5{
    top: 68%;
    left: 48%;
}

.mainMapPoint8{
    top: 50%;
    left: 20%;
}

.mainMapPoint9{
    top: 76%;
    left: 75%;
}