.mainMapMap{
    position: relative;
    display: flex;
}

.Map {
    background-color: var(--white);
    height: 100%;
    width: 100%;
}

.mapContent{
    gap: 0 !important;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.mapContainer {
    height: 100%;
    width: 100%;
}

.mainMapMap{
    width: 100%;
    flex-grow: 1;
}

.mainMapHeader{
    height: 85px;
    width: 100%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    z-index: 2; 
}

.mainMapFooter{
    width: 100%;
    background-color: var(--light-grey);
    z-index: 2; 
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.mainMapImage{
    height: 100%;
    min-width: 100%;
}

.mapLabels{
    height: 95%;
    width: 90%;
    max-width: 400px;
}

.mapImage{
    max-width: 100%;
    max-height: 300px;
    border: 2px solid var(--medium-grey);
}

.mapPoints{
    max-width: 60px;
    height: 60px;
    z-index: 3;
}

.mapPoint{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-radius: 50%;
    position: absolute;
}

.mainMapPoint4{
    top: 9%;
    left: 7%;
}

.mainMapPoint4Reversed{
    top: 75%;
    left: 80%;
}

.mainMapPoint5{
    top: 68%;
    left: 48%;
}

.mainMapPoint5Reversed{
    top: 15%;
    left: 33%;
}

.mainMapPoint8{
    top: 50%;
    left: 20%;
}

.mainMapPoint8Reversed{
    top: 30%;
    left: 60%;
}

.mainMapPoint9{
    top: 76%;
    left: 75%;
}

.mainMapPoint9Reversed{
    top: 5%;
    left: 5%;
}

.locationBtn{
    display: flex;
    background-color: var(--main-color);
    border: none;
    color: var(--white);
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 20px;
}